.card {
  margin: 20px;
  font-family: sans-serif;
  border-radius: 4px;
  border: 1px solid rgb(153, 153, 153);
  width: 350px;
  height: 120px;
  color: rgb(153, 153, 153);
  padding: 4px;
  display:-webkit-inline-box;
}

.card a{
  font-size: 26px;
  color: #5296e3;

}