<!DOCTYPE html>
<html lang="en">
<link href="/static/css/style.css" rel="stylesheet" />
<link href="/static/css/hover.css" rel="stylesheet" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Sam Guttormson</title>

</head>


<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#resume">Resume</a>
    <a href="#github">Github</a>
    <div class='email'>samuelguttormson@gmail.com</div>
</div>


<body>
    <!-- Navigation-->

    <!-- Page Content-->
    <br>
    <div class='headshot'><img src="/static/img/space_dandy.jpg" width='150' height='140' /></div>
    <j1>Sam Guttormson</j1>
    
    <p>
        <j>I am a</j> 4th year Computer Science Student graduating Fall of 2021.
        I posess the skillsets that are
        expected of a CS Grad, as well as those
        derived from my hobbies and personal curiosity. This page details my passions, work life, and serves
        as a portal for my resume and GitHub profile.
    </p>

    <j>About me</j>
    <div class="body_img1">
        <figure class="hoverText">
            <img src="/static/img/example_img.jpg" width='600' height='400' />
            <figcaption>
                <h3>Electronics</h3>
                <p>Synthesizer project here</p>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <br>
    <div class='blurb1'>
        I am invested in CS both in and outside of academia. I always have a couple software projects on the go. I’ve
        recently picked up a hobby doing a bit of electronics. This being DIY synthesizers using IC’s and components,
        but I’ve completed a related microcontroller project using C programming. Having these hobbies have bolstered my
        understanding academically.
    </div>
    <br>
    <div class="body_img2">
        <figure class="hoverText">
            <img src="/static/img/me in front of lake.jpg" width='800' height='400' />
            <figcaption>
                <h3>Me</h3>
                <p>Taken at Morraine Lake, AB.</p>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <br>
    <div class='blurb2'>
        I love travel. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    </div>
    <br style="clear:both" />
    <br>
    <div class="body_img3">
        <figure class="hoverText">
            <img src="/static/img/stonework.jpg" width='800' height='400' />
            <figcaption>
                <h3>Electronics</h3>
                <p>wow amazing</p>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <br>
    <div class='blurb3'>
        My resume mostly details summer jobs in the construction industry. This line of work I was fortunate to grow up
        doing. It paid bills, and allowed me to secure summer income in a city I didn’t grow up in. I wish to work in a
        field related to my degree as that is where my passion lies, but I believe my time framing, landscaping, roofing
        etc. has taught me a great deal of transferable skills. These are fast paced work environments that rely on
        discipline and good communication. I’ve also had the opportunity to oversee a number of jobs and delegate work
        amongst my crewmates. I hope to translate some of this experience to the workplace.
    </div>
    <br>

    <!-- HOVER CARDS STUFF -->

    <script>
        $(".hover").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
        );
    </script>
    <!-- GITHUB CARDS STUFF -->
    <div class='github'>
        <h2>
            <img src="/static/img/github_ico.png" width="100" height="100"/>
            <img src="/static/img/github_name.png" width="200" height="82"/>
        </h2>

        <link href="/static/css/cards.css" rel="stylesheet" />
        <div class='card'>
            <a href="https://github.com/Sam-GG/Automaton">Automaton</a>
            <br>
            Generate cellular automata and visualize them with the pygame engine.
        </div>
        <div class='card'>
            <a href="https://github.com/Sam-GG/Conways-PyGame-of-Life">Conways-PyGame-of-Life</a>
            <br>
            This project is a fork of my cellular automata project. It contains fewer features with the sole purpose of adhering to Conway's rules.
        </div>
        <div class='card'>
            <a href="https://github.com/Sam-GG/CMPT-370-Project">CMPT-370-Project</a>
            <br>
            Collaborative project done in capstone class CMPT 370. A fullstack health database.
        </div>
    </div>
</body>

</html>