<!DOCTYPE html>
<html lang="en">
    <link href="/static/css/style.css" rel="stylesheet" />
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Sam Guttormson</title>
        
    </head>

    
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#resume">Resume</a>
        <a href="#github">Github</a>
        <div class='email'>samuelguttormson@gmail.com</div>
    </div>
    <body>
        <!-- Navigation-->

        <!-- Page Content-->

        <h1>Sam Guttormson</h1>
        <p> I am a 4th year Computer Science Student Blah blah blah. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <div class="blurb1">
            <img src="/static/img/example_img.jpg"
            width='800'
            height='400'>
            <p> I love computers!!! Some words about a hobby here!!
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <div class="blurb2">
            <img src="/static/img/nerd.jpg"
            width='800'
            height='400'>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <link href="/static/css/cards.css" rel="stylesheet" />
        <article class="card" data-gh-project="osmlab/osm-meta-util">
            <header class="card-header">
              <p class="card-suptitle">On <a href="https://github.com/osmlab/osm-meta-util" title="View on GitHub">GitHub</a></p>
              <h1 class="card-title"><a href="https://developmentseed.org/projects/osm-metadata/" title="View more">OSM Metadata Utility</a></h1>
            </header>
            <div class="card-body">
              <dl class="card-details">
                <dt>Forked</dt>
                <dd class="fork"><a href="https://github.com/osmlab/osm-meta-util/fork" title="View fork details"><!-- Fork count via javascript --></a></dd>
                <dt>Starred</dt>
                <dd class="star"><a href="https://github.com/osmlab/osm-meta-util/stargazers " title="View fork details"><!-- Stargazers count via javascript --></a></dd>
              </dl>
            </div>
          </article>
    </body>
</html>
